.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
    min-height: 3.2em; 
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card p {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
    flex-grow: 1;
}

.rating {
    font-weight: bold;
    color: #ff9800;
}

.product-main-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.gallery img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
    transform: scale(2.1);
}

.share-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.share-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.share-buttons button:hover {
    background-color: #0056b3;
}

.share-buttons .whatsapp:hover {
    background-color: #007b13;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    visibility: hidden;
}

.remove-btn:hover {
    background-color: #c0392b;
}

.product-card:hover .remove-btn {
    visibility: visible;
}

.likes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.like-btn {
    background-color: #ee3d3d;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.2s ease-in-out;
}

.like-btn:hover {
    background-color: #b30f00;
}

@media (max-width: 768px) {
    .product-card {
        padding: 10px;
    }

    .product-main-image {
        height: 140px;
    }

    .gallery img {
        width: 30px;
        height: 30px;
    }

    .share-buttons button {
        padding: 6px 10px;
        font-size: 0.8rem;
    }
}
