.container {
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    max-width: 300px;
    flex-grow: 1;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.15s ease-in-out;
}
a:hover {
    color: #0064cf;
}

.edit:hover {
    transform: rotate(60deg);
}