@use '../variables.scss' as vars;

li {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: vars.$text-color;
        transition: color 0.3s;

        &:hover {
            color: vars.$primary-color;
        }
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: rgb(241, 100, 100);
        transition: color 0.3s;

        &:hover {
            color: darkred;
        }
    }
}